
<% if @user.errors.any?%>
<h2>Resolve the Errors to create edit Account</h2>
<ul>
    <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= render 'users/form' %>